/DAWSevilla/nbproject/private/
/Calculadora/nbproject/private/
/ConceptosBasicos/nbproject/private/
/JUnitCalculadora/nbproject/private/
/ConceptosBasicos/dist/
/ConceptosBasicos/build/
/DAWSevilla/build/
/EjemploJavaLog4j2/nbproject/private/
/JUnit/JUnit-Sample/nbproject/private/
/JUnit/JUnit-Sample/build/
/JUnit/JUnit-Sample/dist/
/Calculadora/build/
/Calculadora/dist/